<?xml version="1.0" encoding="utf-8"?><!-- Icon made by Freepik from www.flaticon.com -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.popularflicks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/video_camera"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.popularflicks.MainActivity" />
        </activity>

        <provider
            android:name=".data.MovieProvider"
            android:authorities="com.example.android.popularflicks"
            android:exported="false" />

        <activity
            android:name=".ReviewActivity"
            android:parentActivityName=".DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailActivity" />

        </activity>
    </application>

</manifest>